#idea
.idea/
.gradle/
build/
*.iml
**/target/
*.exec

#git
*.orig

#activemq
activemq-data/

#maven
**/dependency.txt
*.versionsBackup
*.class

#gradle
**/.gradle
**/build
**/out
.DS_Store

**/output.log
output.log
**/lombok.config
*.hprof
**/*.hrpof
**/logs/*

.owasp-dependency-check